<h1 align='center'> Login </h1>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
    <div class ='form-group'>
    <div class='control-label col-xs-10'>
      <%= f.label :email, class: "fix-label" %>
      <div class='col-xs-600'>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter Email", autofocus: true %>
      </div>
    </div>
    </div>

    <div class='form-group'>
    <div class='control-label col-xs-10'>
      <%= f.label :password, class: "fix-label" %>

      <div class='col-xs-600'>
        <%= f.password_field :password, class: "form-control", autocomplete: 'off'%>
      </div>
    </div>
    </div>
    <%= link_to 'Register', signup_path, class: 'btn btn-info btn-lrg' %>
    <%= f.submit('Login', class: ' btn btn-primary btn-lrg') %>
<%= link_to 'Cancel', departments_path, class: 'btn btn-danger btn-lrg' %>

    <% end %>