<div id='navbar'>
  <table>
    <tr>
      <td><%= link_to 'Home', pages_home_path %></td>
      <td><%= link_to 'Ideas', ideas_path %></td>
      <td><%= link_to 'New Idea', new_idea_path %></td>
      <td><%= link_to 'About', pages_about_path %></td>
    </tr>
  </table>
</div>
<div class='clear'></div>
<div class='ideaContent'>

  <h1>Listing all Ideas</h1>
    <p>
  <%= link_to 'Add an idea', new_idea_path %>
  </p>

  <table>
    <th>Title</th>
    <th>Description</th>

    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
      <td><%= link_to 'Show', idea_path(idea) %></td>
      <td><%= link_to 'Delete', idea_path(idea), method: :delete, data: {confirm: 'Delete this idea forever?'} %>
    </tr>
    <% end %>
  </table>


</div>