

  <h1>All Departments</h1>
    <p>
      <%= link_to 'Add a department', new_idea_path %>
  </p>

  <table class='table table-bordered table-hover'>
    <th>Department Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>

    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><% if idea.description.length > 30 %>
            <%=idea.description.first(30)%>...
          <%else%>
            <%=idea.description.first(30)%>
          <%end%></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
      <td><%= link_to 'View', idea_path(idea) %></td>
      <td><%= link_to 'Delete', idea_path(idea), method: :delete, data: {confirm: 'Delete this department permanently?'} %>
    </tr>
    <% end %>
  </table>


</div>