

  <h1>Listing all Ideas</h1>
    <p>
  <%= link_to 'Add an idea', new_idea_path %>
  </p>

  <table>
    <th>Title</th>
    <th>Description</th>

    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
      <td><%= link_to 'Show', idea_path(idea) %></td>
      <td><%= link_to 'Delete', idea_path(idea), method: :delete, data: {confirm: 'Delete this idea forever?'} %>
    </tr>
    <% end %>
  </table>


</div>