<div class='well well-lg'>
  <div class='well'>
    <h3><%= @department.title %></h3>
    <div align='right'>
      <small>Created by <%= link_to gravatar_for(@department.user, size: 10), user_path(@department.user) %> <%= link_to @department.user.username, user_path(@department.user) %></small>
    </div>
    <div class='well'>
      <%= @department.description %>
    </div>
    <div align='right'>
      <small>Last Updated <%= time_ago_in_words(@department.updated_at) %> ago</small>
    </div>
    <div align='left'>
      <% if @department.categories.any? %>
        <small>Categories: <%= render @department.categories %></small>
      <% end %>
    </div>
    <div align='right'>
     <% if logged_in? && (current_user == @department.user || current_user.admin?) %>
      <%= link_to 'Edit', edit_department_path(@department), class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Delete', department_path(@department), method: :delete, data: {confirm: 'Delete this department permanently?'}, class:'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </div>
    <%= link_to 'All Departments', departments_path, class: 'btn btn-primary btn-lrg'%>
</div>
