<html>

  <head>
    <title>Home</title>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div id='navbar'>
  <table>
    <tr>
      <td><%= link_to 'Home', pages_home_path %></td>
      <td><%= link_to 'Ideas', ideas_path %></td>
      <td><%= link_to 'New Idea', new_idea_path %></td>
      <td><%= link_to 'About', pages_about_path %></td>
    </tr>
  </table>
</div>
<div class='clear'></div>
    <div class='content'>
      <h1>Welcome!</h1>
      <p><h4>Thanks for stopping by!</h4> Please check out our about page if you'd like to learn more about Brain Departments. More content coming soon!..</p>
    </div>


  </body>


</html>