<h1 align='center'> <%= "Category: " + @category.name %></h1>
  <div align='center'>
    <div class='row'>
      <% if logged_in? and current_user.admin? %>
      <span class='badge'><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
      <% end %>
    </div>
    <%= will_paginate @category_departments %>

  </div>
  <%= render 'departments/department', obj: @category_departments %>
  <div align='center'>
    <%= will_paginate @category_departments %>
  </div>